h3.title {
	font-family: "Bree Serif", serif;
	border-bottom: 2px solid rgb(202, 202, 202);
	padding-bottom: 4px;
}

.form-horizontal {
	margin-top: 40px;
}

.recaptcha_is_showing_audio #recaptcha_image {
	height: 39px !important;
}

.recaptcha_is_showing_audio #recaptcha_image br:first-of-type {
	display: none;
}

#recaptcha_image {
	width: 210px !important;
}

#recaptcha_image img {
	width: 210px !important;
	height: 39px !important;
}

.recaptcha_isnot_showing_audio #recaptcha_image {
	height: 39px !important;
}

#recaptcha_response_field {
	width: 130px;
}