@font-face {
	font-family: 'Bree Serif';
	src: url('../font/breeserif-webfont.eot');
	src: url('../font/breeserif-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/breeserif-webfont.woff') format('woff'),
		url('../font/breeserif-webfont.ttf') format('truetype'),
		url('../font/breeserif-webfont.svg#bree_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../font/lato-webfont.eot');
	src: url('../font/lato-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/lato-webfont.woff') format('woff'),
		url('../font/lato-webfont.ttf') format('truetype'),
		url('../font/lato-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

footer {
	padding-top: 30px !important;
	padding-bottom: 20px !important;
}

.logo {
	height: 43px;
	font-family: "Lato", "Bree Serif", serif;
}

.page-title {
	overflow: hidden;
	border-bottom: 4px solid rgb(202, 202, 202);
	border-radius: 0px;
	background: url(../img/background.jpg) rgb(0, 0, 0);
	background-size: 100% auto;
	background-attachment: fixed;
	box-shadow: inset 1px 4px 9px -6px black;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: white;
	font-family: "Bree Serif", serif;
	margin-bottom: 30px;
}

@media (max-width: 979px) and (min-width: 768px) {
	.form-horizontal .control-label {
		width: 80px;
	}

	.form-horizontal .controls {
		margin-left: 100px;
	}

	.form-horizontal .form-actions {
		padding-left: 20px;
	}
}