.hero-unit {
	text-align: center;
	overflow: hidden;
	border-bottom: 4px solid rgb(202, 202, 202);
	border-radius: 0px;
	background: url(../img/background.jpg) rgb(0, 0, 0);
	background-size: 100% auto;
	background-attachment: fixed;
	min-height: 200px;
	box-shadow: inset 1px 4px 9px -6px black;
}

.hero-unit ul {
	text-align: center;
	list-style: none;
	position: relative;
}

.hero-unit a {
	text-decoration: none !important;
}

.hero-unit i {
	color: white;
}

.hero-unit i.icon-globe {
	font-size: 250px;
}

.hero-unit i.icon-group {
	font-size: 220px;
}

.hero-unit h3.title {
	font-family: "Bree Serif", serif;
	color: white;
	border-bottom: 2px solid rgb(202, 202, 202);
	padding-bottom: 4px;
	text-align: center;
}

.upcoming-events {
	font-family: "Bree Serif", serif;
}